.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/home_cover.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;
  }
  
  .banner_about {
    position: relative;
    display: flex;
    border-radius: 25px;
    height: 223px;
    max-width: 95%;
    margin: 43px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/about_cover.png');
    background-position: center;
    background-size: cover;
  }
  
  @media screen and (max-width: 550px) {
    .banner,
    .banner_about {
      margin: 20px auto;
      height: 120px;
    }
  }
  
  .banner p {
    color: white;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 500;
  }


  @media screen and (max-width: 550px) {
    .banner p{
     font-size: 2em;
    }
  }